<div style="
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;"
>
  <h1> Vol Numéro <%= @flight.number %></h1>

  <div style="padding: 10px;">
    Départ depuis l'aéroport de <%= @flight.departureAirport %> vers l'aéroport de <%= @flight.arrivalAirport %>
  </div>

  <div style="padding: 10px;">
    Heure de départ: <%= @flight.departureDate.strftime("%-d/%-m/%y: %H:%M %Z") %>
    </br>
    Heure d'arrivée: <%= (@flight.departureDate + @flight.duration.minutes).strftime("%-d/%-m/%y: %H:%M %Z") %>
  </div>
  <%= link_to 'Réserver', new_booking_path(flight_id: @flight.id) %>
</div>