<!DOCTYPE html>
<html class="w-100 h-100 bg-secondary">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "MaxiPlane" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w-100 h-100 bg-secondary ">

    <header>
      <%= render 'layouts/navigation' %>
    </header>




    <% if alert %>
    <p class="alert alert-info text-info text-center"><%= alert %></p>
    <%end %>

    <%= yield %>
  </body>
</html>
